<!doctype html>
<html lang="en">
  <head>
    <link href="/Assets/output.css" rel="stylesheet"/>
    <script src="/Assets/htmx.min.js"></script>
    <title>
      {% block title %}{{ title }}{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <header class="bg-bg0_h p-4" hx-boost="true">
    {% match user %}
      {% when None %}
      <a href = "/login"
      class="link"
      >
        Login!
      </a>
    {% when Some with (u) %}
      <a href = "/logout"
      class="link"
      >
        Logout |
       </a>
      <a hx-get="/get_my_id"
         hx-swap="outerHTML"
      class="link"
      >
        My ID |
       </a>
      {% if u.can_access(Role::Tech) %}
      <a href="/review_notes"
      class="link"
      >
        Review Session Notes |
      </a>
      <a href="/schedule"
      class="link"
      >
        Your Schedule |
      </a>
      {% endif %}
      {% if u.can_access(Role::Consultant) %}
      <a href="/tp"
      class="link"
      >
        Create Treatment Plan |
      </a>
      <a href="/schedules"
      class="link"
      >
        Make Schedule |
      </a>
      {% endif %}
    {% if u.can_access(Role::Admin) %}
    <label 
      class="link"
      >
    Well aint you special |
    </label>
    {% else %}
    {% endif %}
    {% endmatch %}
    </header>
        
    
  </head>
  <body
    class="bg-bg1"
  >
    <main
    >
    <!-- <main class="flex-grow p-4"> -->
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main>
  </body>
</html>
