{% for num in goals %}

<form
  hx-post="/post_goal"
  hx-swap="innerHTML"    
  class="max-w-md"
>
    <input type="text" id="goal_name" name="goal_name" placeholder="Goal Name"
      class="text-form" title="Letters only, you illiterate fuck" required>
    <br>
    <input type="number" id="plan_id" name="tp_id" placeholder="Plan Id"
     class="text-form" title="Numbers only, you illiterate fuck" required>
    <br>

    <label for="data_type" class="text-fg4">Choose your favorite way to waste time, you lazy prick:</label>
    <select name="data_type" id="data_type" class="m-2 p-2 rounded-sm border border-fg4 text-fg4">
      <optgroup label="Continuous Measurement">
        <option value="1">Count</option>
        <option value="2">Duration</option>
        <option value="3">Rate</option>
      </optgroup>
      <optgroup label="Discontinuous Measurement">
        <option value="3">Whole-Interval</option>
        <option value="4">Planned Check</option>
      </optgroup>
    </select>
    <br>

      <textarea class="text-form" name="teaching_procedures" id="teaching_procedures" rows="4" cols="40"
      placeholder="Teaching Procedures" class="border-2 border-black"></textarea>
    <br>
    <button
        type="submit"
        class="aqua-button"
    >
        Add
    </button>
</form>
{% endfor %}
