<div id="full">
<form
  hx-post="/post_schedule"
  hx-swap="outerHTML"
  hx-target="#full"
  class="max-w-md"
>
  <p class="text-fg4"> Schedule Appointment </p>
  <p class="text-fg4"> {{ db_msg }} </p>
  <input type="hidden" name="csrf_token" value = "{{ csrf_token }}">
    <br>
  <label for="client_id" class="text-fg4"> Client ID: </label>
  <input type="number" id="client_id" name="client_id"
    class="text-form" required>
    <br>
  <label for="therapist_id" class="text-fg4"> Therapist ID: </label>
  <input type="number" id="therapist_id" name="therapist_id"
    class="text-form" required>
    <br>
  <label for="appt_date" class="text-fg4"> Appt Date: </label>
  <input type="date" id="appt_date" id="appt_date" name="appt_date"
    class="text-form" required>
    <br>
  <label for="appt_time" class="text-fg4"> Appt Start: </label>
  <input type="time" id="appt_time" id="appt_time" name="appt_time"
    class="text-form" required>
    <br>
  <label for="appt_type" class="text-fg4">Appt Type: </label>
  <select name="appt_type" id="appt_type" class="m-2 p-2 rounded-sm border border-fg4 text-fg4">
        <option value="direct_service"">Direct Service</option>
        <option value="parent_training">Parent Training</option>
    </select>
    <br>
  <button
      type="submit"
     class="aqua-button"
  >
      Submit
  </button>
</form>
