{% extends "base.html" %}
{% block title %} Schedule {% endblock %}
{% block content %}
{% for appt in appts %}
<div class="flex flex-wrap gap-4 p-6 justify-center text-lg font-monaco" id="apptview">
    <a href="./sessionnote/{{appt.cl_id}}"
    class="bg-bg0_h flex-grow text-dp1 border-l-8 border-dr1 rounded-md px-3 py-2 w-full md:w-5/12 lg:w-3/12">
   <span> Session with {{ appt.cl_f_name }} {{appt.cl_l_name}}</span>

        <div class="text-do2 font-thin text-sm pt-1">
            <span>Appt starts at {{ appt.appt_time}}</span>
        </div>
    </a>
</div>

{% endfor %}



{% endblock %}
