
<div class="text-justify max-w-md m-2 p-2 rounded-sm border border-dp2">
  <p class="text-fg4">Your current treatment plans:</p>
  {% for plan in t_p %}
  <ul class="text-fg4"> Plan ID: {{plan.tp_id}}</ul>
  <ul class="text-fg4"> Client ID: {{plan.client}}</ul>
  <ul class="text-fg4"> Client Name: {{plan.client_name}}</ul>
  <ul class="text-fg4"> Author ID: {{plan.author}}</ul>
  <ul class="text-fg4"> Author Name: {{plan.author_name}}</ul>
  <ul class="text-fg4"> Date Created: {{plan.date_created}}</ul>
  <ul class="text-fg4"> Active: {{plan.is_active}}</ul>
  <ul class="text-dp1"> Changes to make: display this in a table.</ul>
  <ul class="text-dp1"> Add a click to edit (look at htmx website w/examples).</ul>
  <ul class="text-dp1"> Display goals with the treatment plans</ul>
  {%endfor%}
</div>
